<!DOCTYPE html>
<html lang = "en">
 <head><title>Simple hello world</title></head>
 <link rel="stylesheet" href="css/styles.css">

 <body>
   <section class="app">
    <div class="container">
        <div class="auth">
            <h1>Login</h1>
            <form class="form"  method="POST" action="/doLogin" >
                <input type="text" name="email" placeholder="Enter email.." value=""/>
                <input type="password" name="password" placeholder="Enter password.." value=""/>
                 <input type="submit" value="Login"/>
            </form>
        </div>
    </div>
   </section>
 
 </body>
 </html>